footer {
	background:$blue;
	width:100%;
	
}

.footer_inner {
	text-align: center;
	padding:178px 0 225px;
	padding-left:70px;
	padding-right:70px;
	span.footer_request_title {
		color: $red;
		text-transform: uppercase;
		font-family: $worksans;
		font-weight: 800;
		font-size:16px;
		letter-spacing: 0.5em;
		border-bottom:4px solid $red;
		padding-bottom:22px;
		display: inline-block;
	}
	span.get_started_title {
		color:#fff;
		display: block;
		font-family: $frankruhl;
		font-size:115px;
		margin:26px 0 0;
	}
	span.required_title {
		color:#fff;
		text-transform: uppercase;
		font-family: $worksans;
		font-weight: 800;
		font-size:16px;
		letter-spacing: 0.2em;
		margin:15px 0 0;
		display: block;
	}
}



.form {
	max-width:1275px;
	margin:68px auto 0;
	ul {
		list-style: none;
		display: flex;
		flex-wrap:wrap;
		justify-content: space-between;
		li#field_1_5 {
			flex-basis: 66.333%;
			&:after {
				content:"";
				color:$red;
				position: absolute;
				top:25px;
				right:14px;
				display: block;
				font-family: $worksans;
				font-weight: 700;
				font-size:17px;
				background: url(#{$themePath}images/select-arrow.svg) top left;
				background-size:17px 17px;
				width:17px;
				height:17px;
			}
			select {
				border-radius: 0;
				-webkit-appearance: none;
			}
		}
		li#field_1_6 {
			flex-basis: 100%;
		}
		li {
			flex-basis: 32.666%;
			margin-bottom:13px;
			position: relative;
			&:after {
				content:"*";
				color:$red;
				position: absolute;
				top:25px;
				right:14px;
				display: block;
				font-family: $worksans;
				font-weight: 700;
				font-size:17px;
			}
			::-webkit-input-placeholder {
				color: $lightblue;
 			}
 			::-moz-placeholder {
 				color: $lightblue;
 			}
 			:-moz-placeholder {
 				color: $lightblue;
  		}
			:-ms-input-placeholder {
				color: $lightblue;
  		}
			::-moz-placeholder {
				opacity: 1;
			}
			label {
				display: none;
			}
			input, textarea, select {
				border:none;
				color:$lightblue;
				font-family: $worksans;
				font-weight: 700;
				text-transform: lowercase;
				letter-spacing: 0.025em;
				font-size:17px;
				padding:21px 27px 21px 14px;
				width:100%;
				background: #fff;
			}
			textarea {
				height:158px;
			}
		}
	}
	input[type="submit"] {
		background:$red;
		color:#fff;
		border:none;
		text-transform: uppercase;
		font-family: $worksans;
		font-weight: 800;
		font-size:20px;
		letter-spacing: 0.1em;
		margin-top:37px;
		padding:20px 60px;
		border-radius: 30px;
		cursor: pointer;
		transition: all 200ms ease-in-out;
		&:hover {
			background: $lightblue;
		}
	}
}

.gfield_description, .validation_message {
	color:#1b8ad0;
	font-family: $worksans;
	font-weight: 500;
	text-align: left;
	padding-left:14px;
	font-size:15px;
	padding-top:10px;
	//text-transform: lowercase;
	
}

.validation_error {
	display: none;
}




.footer_bottom {
	display: flex;
	
}


.footer_left {
	flex-basis: 35%;
	// background: url(#{$themePath}images/footer_img_desktop.jpg) top left no-repeat;
	// background-size:cover;
	img {
		object-fit:cover;
		width:100%;
		height:100%;
	}
}


.footer_right {
	background: #fff;
	flex-basis: 65%;
	padding:0 0px 0;
}




.footer_right_inner {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width:935px;
	margin:0 auto;
	.location_wrapper {
		flex-basis:50%;
		margin:130px 0 0 0;
		//flex-basis:297px;
		flex-shrink:0;
		&:nth-of-type(2), &:nth-of-type(4) {
			//padding-left:8%;
		}
		&:nth-of-type(3) {
			span.large_header {
				padding: 0 0 0px 0;
				display: block;
				border-top:0;
			}
		}
		&:nth-of-type(3), &:nth-of-type(4) {
			padding-bottom:115px;
		}
		&:nth-of-type(4) {
			display: flex;
			//justify-content: space-between;
			a {
				margin-right:4%;
			}
			
		}
		span.large_header {
			text-transform: uppercase;
			display: inline-block;
			font-family: $worksans;
			font-weight: 800;
			font-size:17px;
			letter-spacing: 0.1em;
			border-top:4px $red solid;
			padding-top:25px;
		}
		span.address {
			font-size:28px;
			font-family: $frankruhl;
			font-weight: 400;
			line-height: 33px;
			margin-top:28px;
			display: block;
		}
		a.directions {
			color:$lightblue;
			text-transform: uppercase;
			text-decoration: none;
			font-family: $worksans;
			font-weight: 800;
			letter-spacing: 0.1em;
			display: block;
			margin-top:36px;
			transition: all 200ms ease-in-out;
			&:hover {
				color:$red;
			}
		}
		a.phone {
			display: inline-block;
			border-top:4px solid $red;
			font-size: 50px;
			font-family: $frankruhl;
			font-weight: 400;
			color:$blue;
			text-decoration: none;
			margin-top:20px;
			padding-top:20px;
			transition: all 200ms ease-in-out;
			&:hover {
				color:$red;
			}
		}
		a.social {
			text-decoration: none;
			&:hover {
				svg {
					.st0, .st1 {
						fill:$lightblue;
					}
				}
			}
			svg {
				.st0,.st1 {
					fill:$blue;
					transition: all 200ms ease-in-out;
				}
				.st2{
					fill:#FFFFFF;
				}
			}
		}
	}
}


.copyright {
	width:100%;
	background:#f1f1f1;
	height:110px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:0 50px 0 35px;
	ul {
		li {
			display: inline-block;
			font-family: $worksans;
			font-weight: 400;
			text-transform: uppercase;
			font-size:16px;
			&:last-of-type {
				&:after {
					display: none;
				}
			}
			&:after {
				content:"";
				width:4px;
				height:4px;
				border-radius: 50%;
				background: $blue;
				display: inline-block;
				vertical-align: top;
				margin:7px 14px 0 ;
			}
			a {
				color:$blue;
				text-decoration: none;
				transition: all 200ms ease-in-out;
				&:hover {
					color:$red;
				}
			}
		}
	}
}

.copyright.mobile {
	display: none;
}








@media screen and (max-width: 1800px) {
	
	
	.copyright.mobile {
		display: flex;
	}
	
	.copyright.desktop {
		display: none;
	}

	
	
} /* Media Query */



@media screen and (max-width: 1635px) {
	
	
	.footer_right {
		padding-left:70px;
		padding-right:70px;
	}
	
	.footer_right_inner {
		max-width: 939px;
		justify-content: flex-start;
		.location_wrapper {
			&:nth-of-type(1), &:nth-of-type(3) {
				//flex-basis:42%;
			}
			&:nth-of-type(3) {
				margin-top:110px;
			}
			&:nth-of-type(2), &:nth-of-type(4) {
				padding-left:5%;
				//flex-basis:30%;
			}
			&:nth-of-type(4) {
				margin-top:120px;
				max-width: 328px;
			}
			a.phone {
				font-size:45px;
			}
			a.social {
				
				svg {
					width:60px;
					height:60px;
				}
			}
		}
	}
	
	
	    
	
	
} /* Media Query */


@media screen and (max-width: 1475px) {
	
	
	
	
	.footer_left {
		flex-basis: 562px;
		flex-shrink:0;
	}
	
	
} /* Media Query */



@media screen and (max-width: 1450px) {
	
	
	
	.form {
		max-width: 1020px;
		input[type="submit"] {
			margin-top: 44px;
		}
	}
	
	
	.footer_inner {
		padding: 134px 0 155px;
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 1315px) {
	
	
	.footer_left {
		 flex-basis: 478px;
		 background-position: top center;
	}
	
	
	.footer_right {
		flex-grow: 1;
	}
	   
	
	
	
} /* Media Query */



@media screen and (max-width: 1230px) {
	
	
	
	.footer_left {
		 flex-basis: 350px;
	}
	
	
	
	
} /* Media Query */


@media screen and (max-width: 1135px) {
	
	
	.footer_left {
		display: none;
	}
	
	.footer_right {
		text-align: center;
		
	}
	
	
	
	.footer_right_inner {
		// padding-left:45px;
		// padding-right:45px;
		.location_wrapper {
			margin: 93px 0 0 0;
			span.large_header {
				padding-left:20px;
				padding-right:20px;
			}
			&:nth-of-type(2), &:nth-of-type(4) {
				padding-left:0%;
			}
			&:nth-of-type(3), &:nth-of-type(4) {
				flex-basis: 100%;
			}
			&:nth-of-type(3) {
				margin-top: 86px;
				padding-bottom:0;
			}
			 &:nth-of-type(4) {
				 padding-left:0;
				 margin-left:auto;
				 margin-right:auto;
				 margin-top: 55px;
				 max-width: 302px;
				 padding-bottom: 75px;
			 }
		}
	}
	
	
	.copyright {
		flex-direction: column;
		height:auto;
		padding:30px 0 25px;
		ul {
			margin-bottom:35px;
			max-width:400px;
			text-align: center;
			li {
				line-height: 20px;
				&:after {
					margin: 8px 9px 0 12px;
				}
				&:first-of-type {
					&:after {
						display: none;
					
					}
				}
			}
		}
	}
	
	
	
	
} /* Media Query */





@media screen and (max-width: 1066px) {
	
	
	.footer_inner {
    padding: 93px 0 122px;
    span.footer_request_title {
	    font-size:15px;
	    letter-spacing: 0.25em;
    }
    span.get_started_title {
	    font-size: 80px;
	    margin: 19px 0 0;
    }
	}
	
	
	.form {
		margin: 54px auto 0;
		max-width: 534px;
		ul {
			display: block;
		}
	}
	
	
	
	
	
} /* Media Query */



@media screen and (max-width: 767px) {
	
	
	footer {

	}
	
	
	.footer_inner {
    padding: 68px 35px 85px;
    span.footer_request_title {
	    padding-bottom: 13px;
	    letter-spacing: 0.1em;
    }
    span.get_started_title {
	    font-size: 69px;
	    line-height: 64px;
	    max-width: 315px;
	    margin:30px auto 0;
    }
    span.required_title {
	    margin-top:23px;
	    font-size: 15px;
    }
  }
	
	
	
	.form {
		margin: 46px auto 0;
		ul {
		
		li#field_1_5 {
			
			&:after {
				
			}
			select {
				
			}
		}
		li#field_1_6 {
			
		}
		li {
			margin-bottom: 10px;
			&:after {
				top: 21px;
				right: 13px;
			}
			::-webkit-input-placeholder {
				
 			}
 			::-moz-placeholder {
 				
 			}
 			:-moz-placeholder {
 				
  		}
			:-ms-input-placeholder {
				
  		}
			::-moz-placeholder {
				
			}
			label {
			
			}
			input, textarea, select {
				font-size: 15px;
				padding: 17px 28px 17px 18px;
			}
			textarea {
				height: 132px;
			}
		}
	}
	input[type="submit"] {
		font-size: 13.6px;
		letter-spacing: 0.1em;
		margin-top: 30px;
		padding: 17px 62px;
		&:hover {
			
		}
	}
	}
	
	
	
	
	
	.footer_right_inner {
		flex-direction: column;
		flex-wrap: nowrap;
		.location_wrapper {
			flex-basis: 100%;
			margin: 89px 0 0 0;
			span.large_header {
				
			}
			&:nth-of-type(2), &:nth-of-type(4) {
				
			}
			&:nth-of-type(3), &:nth-of-type(4) {
				
			}
			&:nth-of-type(3) {
				
			}
			&:nth-of-type(4) {
				margin-top: 88px;
				padding-bottom: 53px;
			}
			a.social {
				margin: 0 7px;
				svg {
					width:48px;
					height:48px;
				}
			}
			span.address {
				font-size:24px;
				line-height: 30px;
			}
			a.phone {
				font-size:35px;
			}
		}
	}
	
	
	.footer_right {
		padding-left:20px;
		padding-right:20px;
	}
	
	
	
.copyright {
	
	ul {
		li {
			font-size:15px;
			&:last-of-type {
				&:after {
					
				}
			}
			&:after {
				
			}
			a {
				
				&:hover {
					
				}
			}
		}
	}
}




	
	
} /* Media Query */



@media screen and (max-width: 380px) {
	
	.copyright {
		padding: 24px 0 25px;
		ul {
			margin-bottom: 25px;
			max-width: 250px;
			li {
				font-size:15px;
				line-height: 20px;
				&:after {
					display: none;
				}
			}
		}
	}
	
	
	
} /* Media Query */





