body.page-template-template-meetteam {
	.internal_title_inner {
		padding-bottom:155px;
	}
}



.meet_attorney_wrapper {
	max-width:1580px;
	margin:-82px auto 47px;
	padding:0 70px;
	&:after {
		content:"";
		display: block;
		clear:both;
	}
}


.single_attorney_wrapper {
	max-width:315px;
	text-align: center;
	border-bottom:4px solid $red;
	padding-bottom:18px;
	margin-bottom:80px;
	width:22%;
	float:left;
	margin-right:4%;
	&:nth-of-type(4n + 4) {
		margin-right:0;
	}
	&:hover {
		.attorney_image_wrapper {
			.att_img_overlay {
				opacity: 1;
				visibility: visible;
			}
		}
	}
	a {
		text-decoration: none;
	}
	.attorney_image_wrapper {
		position: relative;
		img {
			display: block;
			max-width:100%;
			height:auto;
		}
		.att_img_overlay {
			position: absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
			background: rgba(0,0,0,0.6);
			z-index:1;
			display: flex;
			justify-content: center;
			align-items: center;
			opacity: 0;
			visibility: hidden;
			transition: all 200ms ease-in-out;
			&:after {
				content:"View Profile";
				color:#fff;
				font-family: $worksans;
				font-weight: 700;
				font-size:18px;
				letter-spacing: 0.2em;
				text-transform: uppercase;
				max-width: 160px;
				display: block;
				line-height: 22px;
			}
		}
	}
	span.att_title {
		font-family: $frankruhl;
		font-weight: 400;
		font-size:29px;
		line-height: 32px;
		display: block;
		margin:17px 0 0;
		color:$blue;
	}
	span.att_position {
		text-transform: uppercase;
		color:$lightblue;
		font-size:15px;
		letter-spacing: 0.1em;
		font-family: $worksans;
		font-weight: 700;
		display: block;
		margin:10px 0 0;
	}
}


@media screen and (max-width: 1350px) {
	


body.page-template-template-meetteam {
	.internal_title_inner {
		padding-bottom: 133px;
	}
}


.meet_attorney_wrapper {
	max-width: 1195px;
	
	
}


	
.single_attorney_wrapper {
	width:30%;
	margin-right:5%;
	&:nth-of-type(4n + 4) {
		margin-right:4%;
	}
	&:nth-of-type(3n + 3) {
		margin-right:0%;
	}
	&:hover {
		.attorney_image_wrapper {
			.att_img_overlay {
				
			}
		}
	}
	a {
		
	}
	.attorney_image_wrapper {
		
		img {
			
		}
		.att_img_overlay {
			
			&:after {
				
			}
		}
	}
	span.att_title {
		
	}
	span.att_position {
		
	}
}

	
	
	
	
} /* Media Query */



@media screen and (max-width: 1030px) {
	



.meet_attorney_wrapper {
	max-width: 816px;
	
}
	
	
.single_attorney_wrapper {
	width:46%;
	margin-right:7%;
	&:nth-of-type(4n + 4) {
		margin-right:7%;
	}
	&:nth-of-type(3n + 3) {
		margin-right:7%;
	}
	&:nth-of-type(2n + 2) {
		margin-right:0%;
	}
	&:hover {
		.attorney_image_wrapper {
			.att_img_overlay {
				
			}
		}
	}
	a {
		
	}
	.attorney_image_wrapper {
		
		img {
			
		}
		.att_img_overlay {
			
			&:after {
				
			}
		}
	}
	span.att_title {
		
	}
	span.att_position {
		
	}
}

	
	
	
	
	
} /* Media Query */



@media screen and (max-width: 767px) {
	
	
	
	body.page-template-template-meetteam {
	.internal_title_inner {
		padding-bottom: 120px;
	}
}

.meet_attorney_wrapper {
	padding:0 40px;
}


.single_attorney_wrapper {
	margin-bottom: 64px;
	width:100%;
	float:none;
	margin-right:0;
	&:nth-of-type(4n + 4), &:nth-of-type(3n + 3) {
		margin-right:0;
	}
}


    
	
	
	
} /* Media Query */




@media screen and (max-width: 715px) {
	




	
.meet_attorney_wrapper {
	display: block;
	padding-left:40px;
	padding-right:40px;
	max-width: 393px;
	&:after {
		display: none;
	}
}
	
	
	
.single_attorney_wrapper {
	
	&:hover {
		.attorney_image_wrapper {
			.att_img_overlay {
				
			}
		}
	}
	a {
		
	}
	.attorney_image_wrapper {
		
		img {
			
		}
		.att_img_overlay {
			
			&:after {
				
			}
		}
	}
	span.att_title {
		
	}
	span.att_position {
		
	}
}

	
	
} /* Media Query */