.att_col {
	max-width:1592px;
	margin:0 auto 260px;
	justify-content: space-between;
	padding-left:70px;
	padding-right:70px;
	position: relative;
	&:after {
		content:"";
		display: block;
		clear:both;
	}
}



body.page-template-template-bio {
	.container {
		padding-right:0;
		padding-left:14%;
		width:calc(100% - 355px);
		float:right;
	}
	.internal_title_inner {
		display: flex;
		padding:0;
		max-width:1592px;
		align-items: flex-start;
		padding-left:70px;
		padding-right:70px;
		.att_title_wrapper {
			padding-left:14%;
			text-align: left;
			padding-top:118px;
		}
		h1 {
			
		}
		span.att_postion {
			color:$red;
			text-transform: uppercase;
			letter-spacing: 0.3em;
			font-family: $worksans;
			font-weight:800;
			font-size:18px;
			display: block;
			margin-top:22px;
			padding-bottom: 80px;
		}
		.att_spacer {
			flex-basis: 355px;
			flex-shrink:0;
			height:auto;
			position: relative;
		}
	}
}



.att_sidebar {
	width: 355px;
	margin-top:-185px;
	float:left;
}


 

.att_sidebar_img_wrapper {
	position: relative;
	border-bottom:4px solid $red;
	padding-bottom:60px;
	&:after {
		content:"";
		width:90%;
		height:270px;
		display:block;
		background: $blue;
		position: absolute;
		top:185px;
		right:0;
		z-index:-1;
	}
	img {
		display: block;
		max-width:100%;
		height:auto;
	}
}


.att_bio_list_wrapper {
	.att_bio_list {
		&:first-of-type {
			span.att_bio_list_title {
				margin:28px 0 0;
			}
			ul {
				li {
					&:before {
						background:$lightblue;
					}
				}
			}
		}
		span.att_bio_list_title {
			text-transform: uppercase;
			font-size:17px;
			font-family:$worksans;
			font-weight:800;
			letter-spacing: 0.1em;
			display: block;
			margin:35px 0 0;
		}
		ul {
			list-style: none;
			margin-top:20px;
			li {
				font-family: $frankruhl;
				position: relative;
				padding-left:30px;
				font-size: 18px;
				line-height: 24px;
				margin-bottom:6px;
				&:before {
					content:"";
					width:5px;
					height:5px;
					display: block;
					background:$red;
					border-radius: 50%;
					position: absolute;
					top:7px;
					left:0;
				}
				ul {
					margin-top:10px;
				}
			}
		}
	}
}


.accolades_wrapper {
	padding-top:60px;
	max-width:100%;
	span.accolades_title {
		border-top:4px solid $red;
		display: block;
		text-transform: uppercase;
		font-family: $worksans;
		font-weight: 800;
		letter-spacing: 0.1em;
		padding-top:22px;
	}
	.accolade_inner {
		display: flex;
		align-items: center;
		margin:45px 0 0;
		.acco_arrow {
			width:22px;
			cursor: pointer;
			&:hover {
				svg {
					fill:$lightblue;
				}
			}
			svg {
				width:22px;
				height:22px;
				fill:$red;
				transition: all 200ms ease-in-out;
			}
		}
		.acco_arrow_left {
			
			svg {
				transform: rotate(180deg);
			}
		}
		.acco_arrow_right {
			
		}
		.accolade_slider {
			width:calc(100% - 60px);
			.accolade_single_slide {
				height:160px;
				display: flex;
				justify-content: center;
				align-items: center;
				img {
					margin:0 auto;
					max-width:180px;
					max-height:112px;
				}
			}
		}
	}
}

.mobile_att_image_wrapper {
	display: none;
}


@media screen and (max-width: 1550px) {
	
	
	body.page-template-template-bio {
		.internal_title_inner  {
			.att_title_wrapper {
				padding-left:8%;
			}
		}
		.container {
			padding-left:8%;
		}
	}
	
	
	
} /* Media Query */



@media screen and (max-width: 1410px) {
	
	
	
	
	body.page-template-template-bio {
		.internal_title_inner {
			.att_title_wrapper {
				padding-left:4%;
			}
		}
		.container {
			padding-left:4%;
			margin-top: 55px;
		}
	} 
	
	
	
} /* Media Query */



@media screen and (max-width: 1399px) {
	
	
	
	body.page-template-template-bio {
		.internal_title_inner  {
    	padding-bottom: 154px;
			.att_title_wrapper {
				padding-left:0%;
				margin-left:auto;
				margin-right:auto;
				text-align: center;
				padding-top: 54px;
			}
			span.att_postion {
				font-size:16px;
				margin-top: 0px;
			}
			.att_spacer {
				display: none;
			}
		}
		.container {
			padding-left:0%;
			width:100%;
			order:2;
		}
	}
	
	.att_col {
		display: flex;
		flex-direction: column;
		max-width: 1162px;
		margin: 0 auto 145px;
	}
	
	
	.mobile_att_image_wrapper {
		order:1;
		width:315px;
		margin:-183px auto 50px;
		position: relative;
		display: block;
		
		&:after {
			content:"";
			width:315px;
			height:275px;
			display: block;
			background: $blue;
			position: absolute;
			top:183px;
			right:-30px;
			z-index:-1;
		}
		img {
			display: block;
			height:auto;
			max-width:100%;
		}
	}
	
	
	.att_sidebar {
		width:100%;
		order:3;
		margin-top:0;
	}
	
	
	.att_sidebar_img_wrapper {
		display: none;
	}
	
	
	.accolades_wrapper {
    padding-top: 40px;
    .accolade_inner {
			margin-top:60px;
		}
	}
	
	.att_bio_list_wrapper {
		border-top:4px solid $red;
		margin-top:105px;
		
	}
	
	
	
	
} /* Media Query */



@media screen and (max-width: 767px) {
	
	
	
	body.page-template-template-bio {
		.internal_title_inner  {
    	padding-left:40px;
    	padding-right:40px;
			.att_title_wrapper {
				padding-top:39px;
			}
			span.att_postion {
				margin-top: 8px;
				font-size:14px;
				line-height: 16px;
				max-width:300px;
				padding-bottom: 24px;
			}
			.att_spacer {
				
			}
		}
		.container {
			
		}
	}
	
	
	.mobile_att_image_wrapper {
		width:245px;
		margin: -137px auto 50px;
		&:after {
			content:"";
			height:218px;
			top: 137px;
			width:245px;
			right: -23px;
		}
		img {
			
		}
	}
	
	
	.att_col {
		padding-left:40px;
		padding-right:40px;
	}
	
	
	.accolades_wrapper {
		.accolade_inner {
    	margin-top: 26px;
		}
	} 
	
	
	.att_bio_list_wrapper {
    margin-top: 56px;
   }
	
	
	
} /* Media Query */
