.internal_title_wrapper {
	width:100%;
	height:auto;
	background: url(#{$themePath}images/intl_styleguide_img.jpg) top left;
	background-size:cover;
}

body:not(.page-template-default) {
	.internal_title_wrapper {
		background: #f1f1f1;
	}
	.internal_title_inner {
		text-align: center;
		display: block;
		padding:105px 0 0;
		h1 {
			color:$blue;
			font-size:95px;
			display: block;
			padding:0;
		}
		span.internal_dots {
			display: block;
			margin-top:40px;
			&:before {
				content:"";
				width:6px;
				height:6px;
				background:$red;
				border-radius: 50%;
				display: inline-block;
				margin-right:5px;
			}
			&:after {
				content:"";
				width:6px;
				height:6px;
				background:$red;
				border-radius: 50%;
				display: inline-block;
				margin-left:5px;
			}
		}
	}
}

.internal_title_inner {
	max-width:1795px;
	padding:82px 70px;
	margin:0 auto;
	display: flex;
	align-items: center;
	height:100%;
	min-height:312px;
	h1 {
		font-family:$frankruhl;
		font-weight:400;
		font-style: normal;
		color:#fff;
		font-size: 80px;
		line-height: 80px;
		padding-right:7%;
		flex-grow: 1;
		display: block;
// 		max-width:958px;
	}
	.spacer {
		flex-basis: 530px;
		flex-shrink:0;
	}
}

.internal_main {
	min-height: 500px;
}

.two_col {
	max-width:1795px;
	margin:0 auto 162px;
	display: flex;
	padding-left:70px;
	padding-right:70px;
}


.container {
	flex-grow:1;
	margin-top:90px;
	padding-right:7%;
	> p:first-of-type:first-letter {
    	font-size: 55px;
			font-family: $frankruhl;
			font-weight: 700;
			font-size: 125px;
			float: left;
			color:$red;
			line-height: 70px;
			padding: 20px 15px 0 0;
		}
}


.sidebar_wrapper {
	flex-basis: 530px;
	flex-shrink:0;
	margin:-212px 0 0;
	.sidebar_form {
		background: $blue;
		text-align: center;
		padding:85px 50px 105px;
		span.sidebar_request {
			color:#fff;
			text-transform: uppercase;
			font-family: $worksans;
			font-weight:800;
			font-size:16px;
			letter-spacing: 0.2em;
			border-bottom:4px solid $red;
			padding-bottom:27px;
			display: inline-block;
		}
		span.sidebar_get_started {
			display: block;
			color:#fff;
			text-transform: lowercase;
			font-family: $frankruhl;
			font-size:85px;
			line-height: 80px;
			margin:29px 0 0;
		}
		span.sidebar_required {
			color:$red;
			text-transform: uppercase;
			font-family: $worksans;
			font-weight:800;
			letter-spacing: 0.2em;
			display: block;
			margin-top:40px;
		}
	}
	ul#gform_fields_2 {
		list-style: none;
		margin:60px 0 0;
		li#field_2_5 {
			flex-basis: 66.333%;
			&:after {
				content:"";
				color:$red;
				position: absolute;
				top: 17px;
				right:14px;
				display: block;
				font-family: $worksans;
				font-weight: 700;
				font-size:17px;
				background: url(#{$themePath}images/select-arrow.svg) top left;
				background-size:17px 17px;
				width:17px;
				height:17px;
			}
			select {
				border-radius: 0;
				-webkit-appearance: none;
			}
		}
		li#field_2_6 {
			flex-basis: 100%;
		}
		li {
			flex-basis: 32.666%;
			margin-bottom:13px;
			position: relative;
			&:after {
				content:"*";
				color:$red;
				position: absolute;
				top:21px;
				right:14px;
				display: block;
				font-family: $worksans;
				font-weight: 700;
				font-size:17px;
			}
			::-webkit-input-placeholder {
				color: $lightblue;
 			}
 			::-moz-placeholder {
 				color: $lightblue;
 			}
 			:-moz-placeholder {
 				color: $lightblue;
  		}
			:-ms-input-placeholder {
				color: $lightblue;
  		}
			::-moz-placeholder {
				opacity: 1;
			}
			label {
				display: none;
			}
			input, textarea, select {
				border:none;
				color:$lightblue;
				font-family: $worksans;
				font-weight: 700;
				text-transform: lowercase;
				letter-spacing: 0.025em;
				font-size:17px;
				padding:16px 28px 15px 16px;
				width:100%;
			}
			textarea {
				height:185px;
			}
		}
	}
	input[type="submit"] {
		background:$red;
		color:#fff;
		border:none;
		text-transform: uppercase;
		font-family: $worksans;
		font-weight: 800;
		font-size:20px;
		letter-spacing: 0.1em;
		margin-top:17px;
		padding:20px 60px;
		border-radius: 30px;
		cursor: pointer;
		transition: all 200ms ease-in-out;
		
		&:hover {
			background: $lightblue;
		}
	}

}




.sidebar_pa {
	margin-top:139px;
	.sidebar_pa_inner {
		margin-bottom:80px;
	}
	span.sidebar_pa_title {
		font-family: $frankruhl;
		font-weight: 400;
		font-size:30px;
		border-bottom:4px solid $red;
		display: block;
		padding-bottom:19px;
		padding-left:45px;
	}
	ul {
		list-style: none;
		li {
			a {
				text-decoration: none;
				color:$blue;
				
			}
		}
	}
	ul.menu {
		margin-top:28px;
		> li.current-menu-ancestor {
				> a {
					color:$red
				}
		}
		> li {
				font-family: $worksans;
				font-weight: 700;
				font-size:17px;
				text-transform: uppercase;
				width:100%;
				letter-spacing: 0.1em;
				cursor: pointer;
				> a.active {
					color:$red;
				}
				> a {
						padding:25px 45px;
						display: block;
						border-bottom:1px solid #f1f1f1;
						transition: all 200ms ease-in-out;
						&:hover {
							color:$red;
						}
					}
		}
		>li.menu-item-has-children {
			position: relative;
			&:after {
				content:"";
				color:$red;
				position: absolute;
				top: 25px;
				right:14px;
				display: block;
				font-family: $worksans;
				font-weight: 700;
				font-size:17px;
				background: url(#{$themePath}images/select-arrow.svg) top left;
				background-size:17px 17px;
				width:17px;
				height:17px;
				
			}
		}
	}
	ul.sub-menu {
		display: none;
		background:#f1f1f1;
		padding-bottom:35px;
		li.current_page_item {
			> a {
					color:$red;
			}
		}
		li {
			text-transform: lowercase;
			font-weight: 500;
			a {
				padding:35px 45px 0;
				display: block;
				transition: all 200ms ease-in-out;
				&:hover {
					color:$red;
				}
			}
		}
	}
}


@media screen and (max-width: 1250px) {
	

	.internal_title_wrapper {
		margin-top: 93px;
	}
	
	
	body:not(.page-template-default) {
	.internal_title_wrapper {
		
	}
	.internal_title_inner {
		padding: 51px 0 0px;
		min-height: 189px;
		h1 {
			font-size:63px;
		}
		span.internal_dots {
			margin-top: 2px;
			&:before {
				
			}
			&:after {
				
			}
		}
	}
}

	
	
	
	
} /* Media Query */


@media screen and (max-width: 1220px) {
	
	
	
	
	.internal_title_wrapper {
		//padding: 59px 0 71px;
		
	}
		
	.internal_title_inner {
		min-height: 179px;
		padding: 54px 70px;
		h1 {
			padding-right:0;
			font-size:63px;
			line-height: 73px;
		}
		.spacer {
			display: none;
		}
	}
	
	.two_col {
		flex-direction: column;
		margin: 0 auto 65px;
	}
	
	.container {
		padding-right:0;
		margin-top: 67px;
	}
	
	
	.sidebar_wrapper {
		margin-top:0;
		.sidebar_form {
			display: none;
		}
	}
	
	
	.sidebar_pa {
		margin-top: 36px;
		span.sidebar_pa_title {
			padding-left:0;
		}
		ul.menu {
			> li {
				> a {
						padding-left:0;
						padding-right:0;
				}
			}
		}
	}
	    
	
	
} /* Media Query */



@media screen and (max-width: 767px) {
	
	
	.two_col {
		padding-left:42px;
		padding-right:42px;
	}
	
	.internal_title_wrapper {
		//padding:37px 0;
		margin-top: 71px;
	}
	
	.internal_title_inner {
	  min-height: 115px;
		padding: 36px 42px;
		h1 {
			font-size:35px;
			line-height: 34px;
		}
		.spacer {
			
		}
	}
	
	
	.container {
		margin-top: 47px;
	}
	
	
	body:not(.page-template-default) {
	.internal_title_wrapper {
		
	}
	.internal_title_inner {
		padding: 41px 0 0px;
		min-height: 127px;
		h1 {
			font-size:35px;
		}
		span.internal_dots {
			
			&:before {
				
			}
			&:after {
				
			}
		}
	}
}


.container {
	
	> p:first-of-type:first-letter {
    	
			padding: 20px 9px 0 0;
		}
}

	
	
	
} /* Media Query */