#section_six {
	padding:0 100px 180px;
	&:after {
		content:"";
		display: block;
		clear:both;
	}
}


.sec_six_inner {
	max-width:1650px;
	margin:0 auto;
	span.sec_six_title {
		text-transform: uppercase;
		font-family: $worksans;
		font-weight:800;
		color:$lightblue;
		display: inline-block;
		float:right;
		letter-spacing: 0.28em;
		margin:95px 0 35px;
		border-top:4px solid $red;
		padding-top:20px;
	}
}

.sec_six_cr {
	background: $blue;
	width:100%;
	clear:both;
}


.sec_six_slider {
	
}


.sec_six_single_slide.slick-active {
	&:nth-of-type(2n + 2) {
		&:after {
			display: none;
		}
	}
}

.sec_six_single_slide {
	text-align: center;
	margin-top:175px;
	margin-bottom:180px;
	min-height: 583px;
	position: relative;
	&:after {
		content:"";
		width:4px;
		height:100%;
		position: absolute;
		top:0;
		right:0;
		display: block;
		background:#224267;
	}
	span.sec_six_cr_amount {
		font-family: $worksans;
		font-weight: 800;
		color:$red;
		font-size:85px;
		letter-spacing: 0.025em;
		display: block;
		padding-top:40px;
	}
	span.sec_six_small_header {
		color:#fff;
		text-transform: uppercase;
		font-family: $worksans;
		font-weight:800;
		font-size:20px;
		line-height: 26px;
		letter-spacing: 0.45em;
		display: block;
		margin:37px auto 0;
		&:after {
			content:"";
			display: block;
			width:180px;
			height:4px;
			background: $red;
			margin:38px auto 0;
		}
	}
	span.sec_six_cr_description {
		color:#fff;
		font-family: $frankruhl;
		font-weight: 400;
		font-size:20px;
		line-height: 36px;
		display: block;
		margin:30px auto 0;
		max-width:500px
	}
	span.sec_six_location {
		text-transform: uppercase;
		color:#fff;
		font-family: $worksans;
		font-weight:800;
		font-size:16px;
		letter-spacing: 0.28em;
		display: block;
		margin: 50px 0 0;
	}
}



.sec_six_buttons {
	width:100%;
	display: flex;
	.sec_six_button {
		display: flex;
		justify-content: center;
		align-items: center;
		padding:26px 0;
		width:50%;
		cursor: pointer;
		background:$lightblue;
		transition: all 200ms ease-in-out;
		&:hover {
			background:$red;
		}
		svg {
			fill:#fff;
			width:30px;
			height:30px;
		}
	}
	.sec_six_button_left {
		svg {
			transform: rotate(90deg);
		}
	}
	.sec_six_button_right {
		border-left:1px solid #1f497b;
		svg {
			transform: rotate(-90deg);
		}
	}
}


@media screen and (max-width: 1450px) {
	
	
	#section_six {
    padding: 0 100px 128px;
	}
	
	
	
	
	.sec_six_inner {
		span.sec_six_title {
			margin: 63px 0 29px;
		}
	} 
	
	
	
	
.sec_six_single_slide {
	margin-top: 96px;
	min-height: 495px;
	margin-bottom: 89px;
	&:after {
		
	}
	span.sec_six_cr_amount {
		font-size:70px;
		padding-top: 15px;
	}
	span.sec_six_small_header {
		font-size:18px;
		line-height: 24px;
		margin: 30px auto 0;
		&:after {
			
		}
	}
	span.sec_six_cr_description {
		margin: 39px auto 0;
		font-size:18px;
		line-height: 33px;
		max-width: 470px;
	}
	span.sec_six_location {
		margin: 43px 0 0;
		font-size: 15px;
	}
}



.sec_six_buttons {
	
	.sec_six_button {
		padding: 19px 0;
		&:hover {
			
		}
		svg {
			width:25px;
			height:25px;
		}
	}
	.sec_six_button_left {
		svg {
			
		}
	}
	.sec_six_button_right {
		
		svg {
			
		}
	}
}

	
	
	
} /* Media Query */



@media screen and (max-width: 1250px) {
	    
	    .sec_six_inner {
		    span.sec_six_title {
			    margin: 60px 0 22px;
		    }
	    }
	    
	    
	
	
	
} /* Media Query */


@media screen and (max-width: 1066px) {
	
	#section_six {
		padding:0 40px 108px;
	}
	
	.sec_six_single_slide {
    margin-top: 66px;
    margin-bottom: 100px;
    min-height: 1px;
   }
   
   
 .sec_six_single_slide {
	 &:after {
		 display: none;
	 }
}
	
	
	
} /* Media Query */



@media screen and (max-width: 767px) {
	
	#section_six {
		padding: 0 40px 99px;
	}
	
	.sec_six_inner {
		span.sec_six_title {
    	margin: 52px 0 22px;
    	font-size:15px;
    }
	}
	
	
.sec_six_single_slide {
	padding-left:18px;
	padding-right:18px;
	&:after {
		
	}
	span.sec_six_cr_amount {
		font-size:42px;
		padding-top: 3px;
	}
	span.sec_six_small_header {
		font-size:15px;
		line-height: 21px;
		letter-spacing: 0.2em;
		margin: 19px auto 0;
		&:after {
			margin: 28px auto 0;
			width: 166px;
		}
	}
	span.sec_six_cr_description {
		font-size:16px;
		line-height: 25px;
	}
	span.sec_six_location {
		letter-spacing: 0.15em;
		line-height: 21px;
		margin: 41px 0 0;
	}
}

	
	
} /* Media Query */



@media screen and (max-width: 400px) {
	
	
.sec_six_single_slide {
	
	&:after {
		
	}
	span.sec_six_cr_amount {
		font-size:30px;
		
	}
	span.sec_six_small_header {
		
		&:after {
			
		}
	}
	span.sec_six_cr_description {
		
	}
	span.sec_six_location {
		
	}
}
	
	
	
} /* Media Query */