#section_seven {
	width:100%;
	background:#f1f1f1;
	padding:0 100px 140px;
}

.sec_seven_inner {
	max-width:1580px;
	margin:0 auto 0;
	display: flex;
	//justify-content: space-between;
}


.sec_seven_left {
	padding:200px 0 0;
	flex-basis:630px;
	flex-shrink:0;
	span.sec_seven_title {
		font-family: $worksans;
		font-weight: 800;
		font-size:52px;
		line-height: 54px;
		letter-spacing: 0.08em;
		text-transform: uppercase;
		display: block;
		border-top:4px solid $red;
		padding-top:50px;
	}
}

a.sec_seven_view {
	background: $red;
	color:#fff;
	text-decoration: none;
	text-transform: uppercase;
	font-family: $worksans;
	font-weight:800;
	font-size:16px;
	letter-spacing: 0.1em;
	padding:22px 35px;
	display: inline-block;
	margin:55px 0 0;
	border-radius: 30px;
	transition: all 200ms ease-in-out;
	&:hover {
		background: $lightblue;
	}
}


a.sec_seven_view.mobile {
	display: none;
}


.sec_seven_right {
	flex-grow:1;
	padding-left: 7%;
	margin-top:100px;
}


.sec_seven_slider {
	display: flex;
	flex-wrap:wrap;
	justify-content: space-between;
	.sec_seven_single_slide {
		box-shadow: 0.616px 0.788px 20px 0px rgba(0, 0, 0, 0);
		flex-basis: 44%;
		height:250px;
		text-align: center;
		position: relative;
		margin-bottom:20px;
		transition: all 200ms ease-in-out;
		&:hover {
			box-shadow: 0.616px 0.788px 20px 0px rgba(0, 0, 0, 0.15);
		}
		a {
			text-decoration: none;
		}
		.svg_wrapper {
			position: absolute;
			width:100%;
			top:47px;
			left:0;
			img {
				display: block;
				margin:0 auto;
			}
		}
		span.sec_seven_pa_title {
			display: block;
			color:$lightblue;
			text-transform: lowercase;
			font-family: $worksans;
			font-weight:800;
			font-size:20px;
			margin-top:145px;
			&:after {
				content:"";
				display: block;
				width: 57px;
				height:4px;
				background:$red;
				margin:23px auto 0;
			}
		}
	}
}


.sec_seven_button {
	display: none;
}

@media screen and (max-width: 1550px) {
	


#section_seven {
	padding: 0 70px 79px 100px;
}


.sec_seven_inner {
	justify-content: space-between;
}
	
.sec_seven_left {
	flex-basis:477px;
	padding: 128px 0 0;
	span.sec_seven_title {
		font-size:38px;
		line-height: 50px;
		letter-spacing: 0.08em;
		padding-top: 43px;
	}
	
}


a.sec_seven_view {
		margin: 92px 0 0;
		&:hover {
			
		}
	}



.sec_seven_slider {
	.sec_seven_single_slide {
		height: 220px;
		margin-bottom:25px;
		flex-basis:288px;
		&:hover {
			
		}
		a {
			
		}
		.svg_wrapper {
			top: 37px;
			img {
				height:70px;
			}
		}
		span.sec_seven_pa_title {
			font-size:18px;
			margin-top: 121px;
			&:after {
				margin: 26px auto 0;
			}
		}
	}
}



.sec_seven_right {
	margin-top: 88px;
	padding-left: 4%;
	max-width:753px;
}

	
	
} /* Media Query */



@media screen and (max-width: 1300px) {
	
	
	
	.sec_seven_right {
    padding-left: 4%;
   }
   
   
   .sec_seven_slider {
	   .sec_seven_single_slide {
		   flex-basis:250px;
	   }
   }
	
	
	
} /* Media Query */



@media screen and (max-width: 1200px) {
	
	#section_seven {
		padding-left:60px;
		padding-right:60px;
	}
	
	.sec_seven_inner {
		display: block;
	}
	
	
	.sec_seven_left {
		padding: 109px 0 0;
		span.sec_seven_title {
			font-size: 34px;
			line-height: 36px;
		}
		
	}
	
	
	a.sec_seven_view.desktop {
			display: none;
		}
		a.sec_seven_view {
		
			&:hover {
			
			}
		}
	
	
	.sec_seven_right {
		padding-left:0;
		width:100%;
		max-width:540px;
		margin: 49px auto 0;
		
	}
	
	
	
.sec_seven_slider {
	margin:0 6px;
	.sec_seven_single_slide {
		margin-bottom:12px;
		&:hover {
			box-shadow: none;
		}
		a {
			
		}
		.svg_wrapper {
			
			img {
				
			}
		}
		span.sec_seven_pa_title {
			
			&:after {
				
			}
		}
	}
}


a.sec_seven_view.mobile {
	display: block;
	margin:45px auto 70px;
	width:320px;
	text-align: center;
	padding-left:0;
	padding-right:0;
}
	
	
	
} /* Media Query */



@media screen and (max-width: 767px) {
	

#section_seven {
	padding-left:40px;
	padding-right:40px;
}
	
.sec_seven_slider {
	display: block;
	width:calc(100% - 56px);
	.sec_seven_single_slide {
		
		&:hover {
			
		}
		a {
			
		}
		.svg_wrapper {
			
			img {
				
			}
		}
		span.sec_seven_pa_title {
			margin:0;
			padding-top: 125px;
			&:after {
				
			}
		}
	}
}


.sec_seven_left {
	padding: 81px 0 0;
	span.sec_seven_title {
		font-size: 25px;
		line-height: 29px;
		padding-top: 30px;
	}
}


.sec_seven_button {
	margin-top:-20px;
	svg {
		width:23px;
		height:23px;
		fill:$red;
	}
}

.sec_seven_right {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width:340px;
	margin: 26px auto 0;
}

.sec_seven_button_left {
	transform: rotate(-180deg);
}





a.sec_seven_view.mobile {
	width:290px;
	display: block;
	font-size:13px;
	padding: 19px 35px;
	margin: 15px auto 25px;
	text-align: center;
}


	
	
	
} /* Media Query */


@media screen and (max-width: 360px) {
	
	
	a.sec_seven_view.mobile {
	
	padding: 19px 5px;
	width:249px;
}
	
	
	
	
} /* Media Query */

