#section_one {
	width:100%;
	display: flex;
	height:825px;
	img.tablet {
		display: none;
	}
}


.sec_one_left {
	background: $blue;
	width:50%;
	padding:155px 50px 0;
	.sec_one_left_inner {
		max-width:730px;
		margin:0 auto;
		span.small_header {
			color:#1b8ad0;
			display: block;
			text-transform: uppercase;
			font-size:22px;
			font-family: $worksans;
			font-weight: 700;
			letter-spacing: 0.08em;
		}
		span.large_header {
			font-size:75px;
			line-height: 70px;
			font-family: $frankruhl;
			font-weight: 400;
			color:#fff;
			display: block;
			margin:23px 0 0;
			padding-bottom:25px;
			border-bottom:2px solid #fff;
		}
		span.sec_one_intro {
			color:#fff;
			font-size:22px;
			font-family: $frankruhl;
			font-weight:400;
			line-height: 30px;
			display: block;
			padding-top:28px;
			letter-spacing: 0.02em;
			max-width: 680px;
			strong {
				font-weight: 400;
				color:#1b8ad0;
			}
		}
	}
}

a.consultation_button {
	background: $red;
	display: inline-block;
	color:#fff;
	text-decoration: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width:440px;
	padding:7px 0px;
	border-radius: 40px;margin-top:45px;
	transition: all 200ms ease-in-out;
	&:hover {
		background: #1b8ad0;
	}
	span.button_title {
		color:#fff;
		font-family: $frankruhl;
		font-weight:400;
		font-size:25px;
		padding-left:20px;
	}
	.button_circle {
		width:61px;
		height:61px;
		background: #fff;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right:10px;
		svg {
			width:27px;
			height:27px;
			 .arrows-cls-1 {
        fill: $red;
      }
		}
	}
}


a.consultation_button.mobile {
		display: none;
	}

.sec_one_right {
	width:50%;
	position: relative;
	img {
		width:100%;
		height:100%;
		object-fit: cover;
	}
	.video_wrapper {
		position: absolute;
		bottom:80px;
		right:100px;
		cursor: pointer;
		&:hover {
			.video_button {
				.video_button_inner {
					&:before {
						border-left-color: $lightblue;
					}
				}
			}
			span.video_cta {
				strong {
					color:$lightblue;
				}
			}
		}
		.video_button {
			width:120px;
			height:120px;
			border: 6px solid #fff;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			margin:0 auto;
			.video_button_inner {
				width:100px;
				height:100px;
				border-radius: 50%;
				background-color: rgba(242,247,253,0.6);
				display: flex;
				justify-content: center;
				align-items: center;
				&:before {
					content:"";
					display: block;
					width: 0; 
					height: 0; 
					border-top: 12px solid transparent;
					border-bottom: 12px solid transparent;
					border-left: 17px solid $red;
					margin-right:-4px;
					transition: all 200ms ease-in-out;
				}
			}
		}
		span.video_cta {
			color:#fff;
			text-transform: uppercase;
			font-size:16px;
			letter-spacing: 0.2em;
			font-family: $worksans;
			font-weight: 800;
			display: block;
			margin-top:83px;
			strong {
				color:$red;
				transition: all 200ms ease-in-out;
			}
		}
	}
}



@media screen and (max-width: 1700px) {
	
.sec_one_right {
	
	img {
		
		
	}
	.video_wrapper {
		bottom: 60px;
    right: 41px;
		&:hover {
			.video_button {
				.video_button_inner {
					&:before {
						
					}
				}
			}
			span.video_cta {
				strong {
					
				}
			}
		}
		.video_button {
			
			.video_button_inner {
				
				&:before {
					
				}
			}
		}
		span.video_cta {
			margin-top: 45px;
			strong {
				
			}
		}
	}
}

	
	
} /* Media Query */


@media screen and (max-width: 1620px) {
	
	
	#section_one {
		height:auto;
	}
	
	
.sec_one_left {
// 	padding: 89px 50px 0;
	padding-top:0;
	display: flex;
	align-items: center;
	.sec_one_left_inner {
		max-width: 601px;
		span.small_header {
			font-size: 18px;
		}
		span.large_header {
			font-size:63px;
			line-height: 59px;
			padding-bottom: 17px;
		}
		span.sec_one_intro {
			font-size:18px;
			line-height: 28px;
			strong {
				
			}
		}
	}
}

a.consultation_button {
	margin-top: 38px;
	&:hover {
	
	}
	span.button_title {
		
	}
	.button_circle {
		
		svg {
			
			 .arrows-cls-1 {
        
      }
		}
	}
}

.sec_one_right {
	
	img {
		
	
	}
	.video_wrapper {
		
		&:hover {
			.video_button {
				.video_button_inner {
					&:before {
						
					}
				}
			}
			span.video_cta {
				strong {
					
				}
			}
		}
		.video_button {
			
			.video_button_inner {
				
				&:before {
					
				}
			}
		}
		span.video_cta {
			
			strong {
				
			}
		}
	}
}


	
	
	
} /* Media Query */


@media screen and (max-width: 1450px) {
	
	
	
	
.sec_one_right {
	
	img {
		
		
	}
	.video_wrapper {
		right: 30px;
		bottom: 67px;
		&:hover {
			.video_button {
				.video_button_inner {
					&:before {
						
					}
				}
			}
			span.video_cta {
				strong {
					
				}
			}
		}
		.video_button {
			
			.video_button_inner {
				
				&:before {
					
				}
			}
		}
		span.video_cta {
			font-size:15px;
			margin-top: 42px;
			strong {
				
			}
		}
	}
}

	
	
	
	
	
} /* Media Query */



@media screen and (max-width: 1395px) {
	
	
	
	
.sec_one_left {

	.sec_one_left_inner {
		max-width: 575px;
		span.small_header {
			font-size:16px;
		}
		span.large_header {
			font-size: 57px;
		}
		span.sec_one_intro {
			
			strong {
				
			}
		}
	}
}

	
	
	
	
} /* Media Query */



@media screen and (max-width: 1350px) {
	
	
	
	
.sec_one_right {
	
	img {
		
		
	}
	.video_wrapper {
		bottom: 49px;
		right: 19px;
		&:hover {
			.video_button {
				.video_button_inner {
					&:before {
						
					}
				}
			}
			span.video_cta {
				strong {
					
				}
			}
		}
		.video_button {
			
			.video_button_inner {
				
				&:before {
					
				}
			}
		}
		span.video_cta {
			
			strong {
				
			}
		}
	}
}


	
	
	
	
	
} /* Media Query */




@media screen and (max-width: 1280px) {
	
	
	
.sec_one_left {
	padding-left:30px;
	padding-right:30px;
	.sec_one_left_inner {
	  max-width: 535px;
		span.small_header {
			//font-size:16px;
		}
		span.large_header {
			font-size: 50px;
		}
		span.sec_one_intro {
			
			strong {
				
			}
		}
	}
}


	
.sec_one_right {
	
	img {
		
		
	}
	.video_wrapper {
		bottom: 38px;
    right: 13px;
		&:hover {
			.video_button {
				.video_button_inner {
					&:before {
						
					}
				}
			}
			span.video_cta {
				strong {
					
				}
			}
		}
		.video_button {
			
			.video_button_inner {
				
				&:before {
					
				}
			}
		}
		span.video_cta {
			
			strong {
				
			}
		}
	}
}

	
	
} /* Media Query */




@media screen and (max-width: 1220px) {
	
	
	
	#section_one {
		display: block;
		position: relative;
		min-height:950px;
		img.tablet {
			position: absolute;
			top:0;
			left:0;
			display: block;
			object-fit: cover;
			width:100%;
			height:100%;
		}
	}
	
	
	
	
	
	.sec_one_left {
		position: relative;
		z-index:1;
		background: transparent;
		width:100%;
		display: block;
		padding-top:50px;
		.sec_one_left_inner {
			text-align: center;
			max-width: 625px;
			span.large_header {
				font-size:62px;
				line-height: 58px;
				border-bottom: none;
			}
			span.sec_one_intro {
				display: none;
			}
		}
	}
	
	
	.sec_one_right {
		position: absolute;
		bottom:66px;
		left:0;
		z-index:1;
		width:100%;
		img {
			display: none;
		}
		.video_wrapper {
			position: static;
			
			
			span.video_cta {
				text-align: center;
				margin-top: 30px;
			}
		}
	}
	
	

	a.consultation_button {
		max-width: 360px;
		margin:22px auto 0;
		span.button_title {
			font-size:20px;
			padding-left: 29px;
		}
		.button_circle {
			width:50px;
			height:50px;
			svg {
				width: 23px;
				height: 23px;
			}
		}
	}
	
	
	
} /* Media Query */



@media screen and (max-width: 1066px) {
	
	
	#section_one {
		
		min-height:800px;
	}
	
	
	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	#section_one {
		min-height: 722px;
	}
	
	.sec_one_left {
		padding-top: 54px;
		.sec_one_left_inner {
			span.small_header {
				max-width: 275px;
				margin-left:auto;
				margin-right:auto;
			}
			span.large_header {
				font-size: 48px;
				line-height: 44px;
				max-width: 320px;
				margin-left:auto;
				margin-right:auto;
			}
		}
	} 
	
	
	.sec_one_right {
		bottom: 47px;
	}
	
	
	a.consultation_button.desktop {
		display: none;
	}
	
	a.consultation_button.mobile {
		display: flex;
		margin-top:0;
		max-width:100%;
		border-radius: 0;
		padding: 13px 0px;
		justify-content: center;
		span.button_title {
			font-size: 19px;
		}
		.button_circle {
			width:47px;
			height:47px;
			margin-left:20px;
		}
	}
	

	
	.sec_one_right {
		
		img {
			
		}
		.video_wrapper {
				span.video_cta {
				  line-height: 19px;
				   margin:30px auto 0;
				   max-width: 268px;
				   //font-size: 15px;
				}
			}
		}
	
	
	
} /* Media Query */